.img-fullwidth {

	position: relative;
	padding: 0px;
	height: 350px;
	overflow: hidden;

	& > img {
		width: 100%;

		-webkit-filter: blur(8px); 
		-moz-filter: blur(8px); 
		-o-filter: blur(8px); 
		-ms-filter: blur(8px); 
		filter: blur(8px);
	}

	& > h1 {
		position: absolute;
		top: 190px;
		color: #FFF;
		font-weight: bold;
		left: 0;
		right: 0;
		text-align: center;
		text-shadow: 0 0 5px #000000;
	}
}

.content {
	margin-top: 30px;
}